.Mega_numeros{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Mega_span{
  padding: 0 4px;
  border: 1px solid #8c8c8c;
  margin: 5px;
  width: 15px;
}

.Mega_container-numeros{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Mega_span:nth-child(even) {
  background-color: #b8b8b8;
}
.Mega_span:nth-child(odd) {
  background-color: #acffad;
}
.Mega_button{
  width: 117px;
}
.Mega_input{
  width: 45px;
  margin: 10px;
}