.Card{
  border-radius: 10px;
  border: 3px solid;
  overflow: hidden;
  margin: 15px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
}

.Card .Title{
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

.Card .Content{
  background-color: #fff;
  color: #000;
  padding: 10px;
  flex-grow: 1;
}