.App .Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #ccd4eb;
}
tr:nth-child(odd) {
  background-color: #e8eaf6;
}
.points-table {
  font-weight: 100;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  text-align: left;
  height: 100%;
}
th {
  border-bottom: 3px solid #318b93;
  background: white;
}
th,
td {
  padding: 2px;
  border: 1px solid #318b93;
  text-align: center;
}
td {
  font-weight: 600;
}


tr.by-products > td:nth-child(odd) {
  font-weight: 100;
  padding-left: 10%;
}